
<div class="container">

    <div class="text-center">
        <img src="assets/img/himouto.png">
    </div>

    <h2 class="text-center">Login</h2>
    
    <div *ngIf="login.invalid && login.touched" class="alert alert-danger">
    Preencha todos os campos corretamente.
    </div>

    <!--div *ngIf="!autenticado" class="alert alert-danger">
        Usuário ou senha incorreta.
    </!--div-->

    <form autocomplete="off" #login="ngForm" class="signin">

        <div>
            <label class="sr-only" for="inputUsuario"> Usuário </label>
            <input class="form-control" [(ngModel)]="usuario.nome" name="usuario" id="inputUsuario" type="text" 
            required placeholder="Usuário">
        </div>

        <div>
            <label class="sr-only" for="inputSenha"> Senha </label>
            <input class="form-control" [(ngModel)]="usuario.senha" name="senha" id="inputSenha" type="password" 
            required placeholder="Senha">
        </div>
        <br>
        
        <button mat-stroked-button color="primary" class="btn-block" type="submit" [disabled]="!login.valid" (click)="fazerLogin()">
            Entrar
        </button>

    </form>

</div>

