h2 {
    padding: 15px 0;
}

input.ng-invalid.ng-touched {
    border: 1px solid rgb(204, 12, 12) ;
}

#usuario, #senha {
    color: rgb(204, 12, 12) ;
}

#inputUsuario {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#inputSenha {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    font-family: Montserrat, "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

.container {
    width: 300px;
    padding: 30px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

button {
    font-family: Montserrat, "Open Sans", Roboto, "Helvetica Neue", sans-serif;
    height: 43px;
}

img {
    width: 50%;
    border-radius: 50%;
}
