.container {
    width: 800px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 30px;
}

h2 {
    padding: 15px 0 30px;
}

input, select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

input:hover,select:hover {
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

input:focus,select:focus {
    border: 2px solid #673ab7;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}


input.ng-invalid.ng-touched {
    border: 1px solid rgb(204, 12, 12) ;
    border-top: none;
    border-left: none;
    border-right: none;
}

button {
    height: 43px;
    padding: 0 30px;
    margin: 30px 0;
    font-family: Montserrat, "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

#divNome,#divTel,#divEmail {
    padding-right: 30px;
}