
<div class="container">

  <h2 class="text-center">ADICIONAR CONTATO</h2>

  <!--div *ngIf="contatoForm.invalid && contatoForm.touched" class="alert alert-danger">
    Preencha todos os campos corretamente.
  </div-->

  <div class="alert alert-success" role="alert" *ngIf="adicionado">
    Contato adicionado.
  </div>

    <form #contatoForm="ngForm" (ngSubmit)="onSubmit()">
      
      <div class="form-row">
        <div class="col-md-4 mb-3" id="divNome">  
            <label>Nome (obrigatório)</label>
            <input type="text" class="form-control" name="PrimeiroNome" 
            [(ngModel)]="contato.nome" required minlength="4" #nome="ngModel" (focus)="adicionado=false">

            <app-message [control]="nome" error="required" text="Insira um nome"></app-message>
            <app-message [control]="nome" error="minlength" text="Mínimo de 4 caracteres"></app-message>
        </div>

        <div class="col-md-4 mb-3" id="divTel">
          <label>Telefone (obrigatório)</label>
          <input type="tel" class="form-control" name="tel" 
          [(ngModel)]="contato.telefone" required #telefone="ngModel" (focus)="adicionado=false">

          <app-message [control]="telefone" error="required" text="Insira um telefone"></app-message>
        </div>

        <div class="col-md-4 mb-3">
          <label>Data de Nascimento</label>
          <input type="date" class="form-control" name="Nascimento" 
          [(ngModel)]="contato.dataNascimento" (focus)="adicionado=false">
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-8 mb-3" id="divEmail">
          <label>Email</label>
          <input type="email" class="form-control" name="Address" 
          [(ngModel)]="contato.email" (focus)="adicionado=false">
        </div>

        <div class="col-md-4 mb-3">
          <label>Relacionamento</label>
          <select class="custom-select" name="relacionamento" [(ngModel)]="contato.relacionamento">
            <option selected>Selecione</option>
            <option>Parente</option>
            <option>Amigo</option>
            <option>Conhecido</option>
            <option>Trabalho</option>
            <option>Vizinho</option>
          </select>

        </div>
      </div>

        <div class="text-center">
          <button mat-stroked-button color="primary" type="submit" [disabled]="!contatoForm.valid">
            Salvar
          </button>
        </div>

      </form>
    <br>
      {{ contato | json }}

</div>

