<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <a routerLink="/login" mat-menu-item>Login</a>
  <a routerLink="/agenda" mat-menu-item>Agenda</a>
  <a routerLink="/add" mat-menu-item>Novo</a>
</mat-menu>    

  <router-outlet></router-outlet>
