
.mat-button {
  background-color: transparent;
  list-style-type: none;
  margin: 10px 0 0 10px;
  padding: 0;
  overflow: hidden;
  font-family: Montserrat, "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  border: 1px solid #111;
}

.mat-button:hover {
  border-color: rgba(156, 93, 148, 0.644);
}

a {
  color: rgb(61, 59, 59);
  display: block;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-family: Montserrat, "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

a:hover:not(.active) {
  background-color: rgba(146, 88, 141, 0.671);
}