<div class="container">
    <div class="row">
        <div class="col-6 pt-1">
            <h2>AGENDA</h2>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <button mat-stroked-button color="primary" type="submit" (click)="novoContato()">
                Novo contato
            </button>
        </div>
    </div>
    <br>
    
    <app-agenda-grid></app-agenda-grid>

</div>