<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Coluna Nome -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{contato.nome}} </td>
    </ng-container>
  
    <!-- Coluna Telefone -->
    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let element"> {{contato.telefone}} </td>
    </ng-container>
  
    <!-- Coluna Data de Nascimento -->
    <ng-container matColumnDef="dataNascimento">
      <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
      <td mat-cell *matCellDef="let element"> {{contato.dataNascimento}} </td>
    </ng-container>

    <!-- Coluna Email -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{contato.email}} </td>
      </ng-container>

      <!-- Coluna Relacionamento -->
    <ng-container matColumnDef="relacionamento">
        <th mat-header-cell *matHeaderCellDef> Relacionamento </th>
        <td mat-cell *matCellDef="let element"> {{contato.relacionamento}} </td>
      </ng-container>

      <!-- Coluna Ações -->
    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-stroked-button color="primary" type="submit" (click)="edit(contato, contato.key)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-stroked-button color="primary" type="submit">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  
